.botao-novo-contato {
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    background: linear-gradient(#3a81f4, #1e3b8b);
    color: white;
    padding: 0.75rem;
    border-radius: 0.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
}


.icone-novo-contato {
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
}