/* === SidebarItem.css === */

.menu-item {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    cursor: pointer;
    user-select: none;
    border-bottom: 1px solid;
    transition: background-color 0.2s ease;
}

.dark .menu-item {
    border-color: #333;
}

.light .menu-item {
    border-color: #eee;
}

.menu-item:hover.dark {
    background-color: #5e5e5e;
}

.menu-item:hover.light {
    background-color: #f8f8f8;
}

.menu-item.active {
    background-color: #3b82f6;
    color: white;
}

.menu-item.active:hover {
    background-color: #2563eb;
}

.icon {
    margin-right: 20px;
    min-width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon svg {
    width: 24px;
    height: 24px;
}

.item-text {

    font-size: 16px;
    white-space: nowrap;
}
