*{
  text-decoration: none;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #191919;
    color: white;
    width: 60px;
    transition: width 0.3s ease;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.5 ease;
  }
  
  .sidebar.expanded {
    width: 220px;
  }
  
  .sidebar.light {
    background-color: #f3f4f6;
    color: #1f2937;
  }
  
  .sidebar-top,
  .sidebar-middle,
  .sidebar-bottom {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
  }
  
  .sidebar-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0.5rem;
  }
  
  .toggle-icon-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 0.5rem;
  }
  
  .toggle-icon,
  .theme-icon {
    cursor: pointer;
  }
  
  .sidebar-item {
    background: none;
    border: none;
    padding: 0.75rem 1rem;
    color: inherit;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    cursor: pointer;
    transition: background 0.2s ease;
    font-size: 0.9rem;
  }
  
  .sidebar-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .sidebar.light .sidebar-item:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  .sidebar-item.active {
    background: linear-gradient(#3a81f4, #1e3b8b);
    color: white;
    border: #9dbef1 solid 2px;
  }
  
  .sidebar.light .sidebar-item.active {
    background-color: #3b82f6;
    color: white;
  }
  
  .item-text {
    white-space: nowrap;
  }
  
  .bottom-text {
    font-size: 0.75rem;
    padding: 1rem;
    color: #d1d5db;
  }
  