.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-container {
  display: flex;
  flex-direction: row;
  height: 100vh; /* Altura total da viewport */
}

/* Se a sua sidebar precisar de uma largura fixa */
.app-container > .sidebar {
  width: 250px; /* ou o tamanho que preferir */
  flex-shrink: 0; /* Evita que a sidebar encolha */
}

/* Para o conteúdo principal ocupar o espaço restante */
.app-container > *:not(.sidebar) {
  flex-grow: 1;
  overflow-y: auto; /* Para rolar se o conteúdo for maior que a tela */
}